APP_NAME=Events Manager API
DEBUG=false
SECRET_KEY=replace-with-openssl-rand-hex-32
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/events_manager
SYNC_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/events_manager
ALEMBIC_SYNC_URL=postgresql://postgres:postgres@localhost:5432/events_manager
CORS_ORIGINS=["http://localhost:4200"]
UPLOAD_DIR=uploads
MAX_UPLOAD_MB=10
MAX_PROFILE_PHOTO_MB=5
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_PUBLIC_BASE_URL=
S3_PROFILE_PHOTOS_PREFIX=employees/profile-photos
S3_ACL_PUBLIC=true
nFM6sNgzHkzEWNS